# general files
*.png
*.jpg
*.env.*

# database volumes
database_dev/*

# backend (python)
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info
__pycache__
*.mypy
*.mypy_cache
*venv
.pre-commit-config.yaml
.pytest_cache
.mypy_cache